.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 40px;
    padding: 24px;
    margin-bottom: 20px;

    .left {
        width: 50%;
        display: flex;
        flex-direction: column;
        
        h1 {
          font-style: inherit;
          color: antiquewhite;
        }
        h2{
            font-style: oblique;
            margin-top: 20px;
            font-weight: bold;
            color: antiquewhite;
        }

    }

    .right {
        font-size: 32px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        width:0cm 50%;
        padding: 16px;

        img {
            width: 400px;
        height: 400px;
        border-radius: 100%;
        border: 2px solid black;
        align-self: self-end;
        margin-right: 100px;
             
            
           
            
        }
    }
}